.main{
    margin-bottom: 50px;
}

.btn{
    background-color: black;
    border-radius: 7px;
    font-family: 'Source Code Pro', monospace;
    font-weight:400;
    font-size: 13px;
    color: white;
    border: none;
    box-shadow: 0 8px 16px rgba(56, 56, 56, 0.493);
    cursor: pointer;
    line-height: 20px;
    padding: 14px 20px;
    padding-left: 35px;
    text-decoration: none;
}

.btn:hover{
    background-color: rgb(26, 25, 25);

}

.btn img{
    margin: auto 10px;
}

.gral{
    background-color: #181818;
    width: 60%;
    height: 130%;
    margin: 50px auto;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(173, 173, 173);
    border-radius: 10px;
    box-shadow: 0 9px 16px rgba(56, 56, 56, 0.493);
}

.gral img{
    margin: 40px auto;
}

@media screen and (max-width: 1229px) {
    .gral img{
        height: 700px;
        width: 500px;
    }
}

@media screen and (max-width: 996px) {
    .gral img{
        height: 600px;
        width: 400px;
    }
}

@media screen and (max-width: 758px) {
    .gral img{
        height: 500px;
        width: 350px;
    }
}

@media screen and (max-width: 665px) {
    .gral img{
        height: 400px;
        width: 300px;
    }
}

@media screen and (max-width: 568px) {
    .gral img{
        height: 300px;
        width: 230px;
    }

    .btn{
        padding: 12px 17px;
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    .gral img{
        height: 200px;
        width: 150px;
    }

    .gral{
        height: 280px;
    }

    .btn{
        padding: 12px 11px;
        font-size: 11px;
    }
}





