.gral{
    margin-bottom: 150px;
}

.videos{
    display: flex;
    flex-direction: row-reverse;
    margin: 40px 20px;
    align-items: center;
    
}

.videos_div{
    background-color: #181818;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(173, 173, 173);
    border-radius: 10px;
    margin: 40px auto;
    width: 1200px;
    /* background-color: red; */

}

.gral h2{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    margin-top: 90px;
}

.gral h3{
    font-family: 'Source Code Pro', monospace;
    font-weight:400;
    font-size: 18px;
    color:white;
    margin-top: 15px;
    margin-bottom: 50px;
}

.videos iframe{
    margin: 0 auto;
    box-shadow: 0 9px 16px rgba(56, 56, 56, 0.493);
    border-radius: 10px;
    height: 280px;

}

.description_div{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.tech{
    margin: auto 0;
    background-color: var(--color-bg-black);
    height: 40px;
    width: 550px;
    border-radius: 10px;
    color: white; 
    margin-bottom: 20px;
    /* text-align: center; */
}

.tech h3{
    font-size: 12px;
    /* align-content: center; */
    margin: 10px 0;
}

.tech1{
    margin: auto 0;
    background-color: var(--color-bg-black);
    height: 60px;
    width: 550px;
    border-radius: 10px;
    color: white; 
    margin-bottom: 20px;
    text-align: justify;
}

.tech1 h3{
    font-size: 11px;
    /* align-content: center; */
    margin: 10px 20px;
    line-height: 170%;

}


.description{
    display: flex;
    margin: auto 0;
    background-color: var(--color-bg-black);
    height: 160px;
    width: 550px;
    border-radius: 10px;
    color: white;
}

.description h3{
    font-size: 13px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    text-align: justify;
    line-height: 150%;
}

.rs_circle{
    margin-top: 15px;
}

.rs_circle img{
    margin: 0px 20px;
}


@media screen and (max-width: 1233px) {
.videos{
    display: flex;
    flex-direction: column;
}

.videos_div{
    width: 1000px;
}

.tech1{
    margin-top: 30px;
}
}

@media screen and (max-width: 1030px) {
    .videos_div{
        width: 800px;
    } 
}

@media screen and (max-width: 823px) {
    .videos_div{
        width: 700px;
    } 
}

@media screen and (max-width: 720px) {
    .videos_div{
        width: 640px;
    } 
}

@media screen and (max-width: 650px) {
    .videos iframe{
        width: 450px;
        height: 225px;

    }

    .tech1{
        width: 450px;
    }

    .description{
        width: 450px;
        height: 200px;
    }

    .videos_div{
        width: 560px;
    } 
}

@media screen and (max-width: 594px) {
    .videos iframe{
        width: 400px;
        height: 200px;
    }

    .tech1{
        width: 400px;
    }

    .description{
        width: 400px;
        height: 220px;
    }

    .videos_div{
        width: 460px;
    } 
}

@media screen and (max-width: 477px) {
    .videos iframe{
        width: 330px;
        height: 160px;
    }

    .tech1{
        width: 330px;
    }

    .description{
        width: 330px;
        height: 280px;
    }

    .videos_div{
        width: 400px;
    } 
}

@media screen and (max-width: 420px) {
    .videos iframe{
        width: 260px;
        height: 130px;
    }

    .tech1{
        width: 260px;
        height: 80px;
    }

    .description{
        width: 260px;
        height: 360px;
    }

    .videos_div{
        width: 310px;
    } 
}
