.container {
  border-radius: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.title {
  font-size: 33px;
  font-weight: bold;
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.inputs {
  width: 700px;
}
.input,
.textarea {
  padding: 0 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 45px;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: rgb(173, 173, 173);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(56, 56, 56, 0.493);
}
.textarea {
  padding: 10px;
  min-height: 100px;
  max-height: 100px;
  margin-bottom: 40px;
}
.textarea::placeholder,
.input::placeholder {
  color: var(--color-bg-black);
}
.button {
  height: 55px;
  width: 200px;
  border-radius: 7px;
  margin: 0 10px 40px 10px;
  background-color: black;
  font-weight: 400;
  color: white;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(26, 25, 25);
}
.errors {
  position: absolute;
  top: 5px;
  right: 10px;
  width: auto;
  height: 24px;
  line-height: 30px;
  font-size: 14px;
  color: red;
  border-radius: 10px;
}
.label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media screen and (max-width: 770px) {
  .inputs {
    width: 600px;
  }
}
@media screen and (max-width: 650px) {
  .inputs {
    width: 500px;
  }
}
@media screen and (max-width: 560px) {
  .inputs {
    width: 400px;
  }
}
@media screen and (max-width: 450px) {
  .inputs {
    width: 300px;
  }
}