.main1 {
  width: 1100px;
  height: 670px;
  margin: 0 auto 120px auto;
  padding: 5% 10%;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 10px;
  box-shadow: 0 9px 16px rgba(56, 56, 56, 0.493);
  background-color: #181818;
}
.title1 {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: bold;
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Inter", sans-serif;
}
.inputs {
  position: relative;
  margin: 0 auto;
  width: 60%;
}
.input,
.textarea {
  position: relative;
  padding: 0 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 45px;
  color: white;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: rgb(173, 173, 173);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(56, 56, 56, 0.493);
}
.textarea {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100px;
  max-height: 100px;
  width: 100%;
  margin-bottom: 40px;
}
.textarea::placeholder,
.input::placeholder {
  color: var(--color-bg-black);
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}
.button {
  height: 55px;
  width: 200px;
  border-radius: 7px;
  margin: 0 10px 40px 10px;
  background-color: black;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  color: white;
  border: none;
  box-shadow: 0 8px 16px rgba(56, 56, 56, 0.493);
  cursor: pointer;
}
.button:hover {
  color: #fff;
  background-color: rgb(26, 25, 25);
}
.errors {
  position: absolute;
  top: 5px;
  right: 10px;
  width: auto;
  height: 24px;
  line-height: 30px;
  font-size: 14px;
  color: red;
  border-radius: 10px;
}

@media screen and (max-width: 1116px) {
  .main1 {
    width: 900px;
  }
}
@media screen and (max-width: 920px) {
  .main1 {
    width: 780px;
  }
}
@media screen and (max-width: 799px) {
  .main1 {
    width: 600px;
    height: 620px;
  }
}
@media screen and (max-width: 617px) {
  .main1 {
    width: 480px;
    height: 620px;
  }
  .title1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 498px) {
  .main1 {
    width: 380px;
    height: 620px;
  }
  .inputs {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 80%;
  }
  .title1 {
    font-size: 26px;
  }
}
@media screen and (max-width: 410px) {
  .main1 {
    width: 330px;
    height: 600px;
  }
  .title1 {
    font-size: 25px;
  }
}
