.div_gral{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px 80px;
    margin-bottom: 120px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: black; */
    color: white;
    width: 155px;
    height: 125px;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0 8px 16px rgba(56, 56, 56, 0.493);
    cursor: pointer;
}

.container:hover{
    background-color: rgb(15, 15, 15);
}

.container img{
    margin-bottom: 17px;
}
.container p{
    font-size: 13px;
    font-family: 'Source Code Pro', monospace;
    font-weight:300;
    /* margin-top: 7px; */
}

.btn{
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    border-radius: 7px;
    cursor: pointer;
    border-width: 1px;
}

.active {
    /* color: white; */
    /* transform: scale(1.1); */
    box-shadow: 0px 6px 30px -15px #b1b1b1;
    padding: 10px;
    animation: actived 2s infinite linear;
}

@keyframes actived {
 0%{box-shadow: 0px 4px 30px -12px #b1b1b1;}
 50%{box-shadow: 0px 4px 30px -14px #b1b1b1;}
 100%{box-shadow: 0px 4px 30px -16px #b1b1b1;}   
}

@media screen and (max-width: 816px) {
    .div_gral{
        margin: 60px 60px;
    }

    .container{
        width: 130px;
        height: 115px;
    }

    .btn img{
        height:24px;
        width:24px;
    }
}

@media screen and (max-width: 711px) {
    .div_gral{
        margin: 70px 60px;
    }

    .container{
        width: 120px;
        height: 105px;
    }

    .btn img{
        height:20px;
        width:20px;
    }
}

@media screen and (max-width: 665px) {
    .div_gral{
        margin: 50px 60px;
    }

    .container{
        width: 115px;
        height: 100px;
    }

}
@media screen and (max-width: 642px) {  
    .container{
        width: 105px;
        height: 90px;
    }

    .btn img{
        height:18px;
        width:18px;
    }

    .container img{
        margin-bottom: 10px;
    }

    .container p{
        font-size: 11px;        
    }
}
@media screen and (max-width: 594px) {
    
    .container{
        width: 100px;
        height: 80px;
    }

    .btn img{
        height:16px;
        width:16px;
    }

    .container img{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 576px) {

    .container{
        width: 90px;
        height: 75px;
    }

    .btn img{
        height:15px;
        width:15px;
    }

    .container p{
        font-size: 10px;        
    }
}

@media screen and (max-width: 500px) {
    .div_gral{
        margin: 50px 40px;
    }
    
    .container{
        width: 85px;
        height: 75px;
    }

    .btn img{
        height:17px;
        width:17px;
    }
}

@media screen and (max-width: 439px) {
    .div_gral{
        margin: 50px 25px;
    }
    
    .container{
        width: 80px;
        height: 70px;
    }

}

@media screen and (max-width: 395px) {
    .div_gral{
        margin: 50px 20px;
    }
}

@media screen and (max-width: 379px) {
    .div_gral{
        margin: 50px 15px;
    }
    
    .container{
        width: 75px;
        height: 65px;
    }
}