.gral{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    background-color: #181818;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(173, 173, 173);
    border-radius: 10px;
    width: 85%;
    box-shadow: 0 9px 16px rgba(56, 56, 56, 0.493);
}

.div_columns{
    margin-top: 160px;
    /* width: 28%; */
}

.columns{
    position: relative;
    /* height: 90px; */
    padding: 18px;
    width: 320px;

    /* text-align: center; */
    margin: 40px 0;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(173, 173, 173);
    border-radius: 10px;
    box-shadow: 0 9px 16px rgba(56, 56, 56, 0.493);
    background-color: var(--color-bg-black);
}

.columns h2{
    font-family: 'Inter', sans-serif;
    color: white;
    margin-bottom: 10px;
    font-size: 19px;
}

.columns h3{
    font-family: 'Source Code Pro', monospace;
    font-weight:300;
    color: white;
    font-size: 14px;
}

.icon{
    position:absolute;
}

.name{
    margin-top: 60px;
}

.name img{
    margin: 40px 0;
    filter: drop-shadow(1px 1px 3px rgba(110, 110, 110, 0.3));
}

.name h1{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
}

.name h2{
font-family: 'Source Code Pro', monospace;
font-weight:300;
font-size: 19px;
color:white;
margin-top: 15px;
}

.text1{
    display: flex;
    flex-direction: row;
}

.text1 h2{
margin-bottom: 70px;
font-family: 'Inter', sans-serif;
color: white;
font-weight:400;
}

.text1 img{
    margin: 0 10px;
}

.stack img{
    margin-bottom: 5px;
}

.stack h2{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}


@media screen and (max-width: 1159px) {
    .div_columns{
        margin-right: 60px;
    }
}

@media screen and (max-width: 1092px) {
    .div_columns{
        margin-right: 100px;
    }
}

@media screen and (max-width: 943px) {
    .gral{
        flex-direction: column;
    }

    .div_columns{
        margin-top: -30px;
        margin: 0 auto;
    }

    .name img{
        margin-top: 40px;
    }
}

@media screen and (max-width: 816px) {
    .name h1{
        font-size: 25px;
    }
    
    .name h2{
       font-size: 17px;
    }

    .name img{
        height:520px;
        width:280px;
    }
}

@media screen and (max-width: 474px) {
    .columns{
        width: 275px; 
    }
}

