.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  margin: 100px 80px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 165px;
  height: 50px;
  color: white;
  background-color: transparent;
  border-radius: 7px;
  border: 0.1px solid #656565;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  box-shadow: 0 8px 16px rgba(56, 56, 56, 0.22);
  cursor: pointer;
}
.btn img {
  margin-bottom: 5px;
}
.btn p {
  font-size: 12px;
  letter-spacing: 2.5px;
  font-weight: 300;
}
.btn:hover {
  background-color: rgb(34, 34, 34);
}
.active {
  position: relative;
  border-radius: 10px;
  z-index: 1;
}
.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 7px;
  padding: 0;
  z-index: -1;
  pointer-events: none;
  border: 1.5px solid transparent;
  background: conic-gradient(from 0deg, #ae67fa, #f49867, #ae67fa);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
@media screen and (max-width: 1262px) {
  .container {
    gap: 40px;
  }
}
@media screen and (max-width: 1180px) {
  .container {
    gap: 20px;
  }
}
@media screen and (max-width: 1120px) {
  .container {
    gap: 10px;
  }
}