/* Label styles */
.label {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 4px;
  color: #fff;
}
.container {
  width: 100%;
  max-width: 1100px;
  border-radius: 10px;
  margin: 20px auto;
  padding-top: 50px;
}
.title {
  margin-bottom: 32px;
  font-size: 33px;
  font-weight: bold;
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.inputs {
  position: relative;
  margin: 0 auto;
}
.input,
.textarea {
  position: relative;
  padding: 0 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 45px;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: rgb(173, 173, 173);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(56, 56, 56, 0.493);
}
.textarea {
  padding: 10px;
  min-height: 100px;
  max-height: 100px;
  margin-bottom: 40px;
}
/* Row for first/last name */
.row {
  display: flex;
  gap: 20px;
}
.halfInput {
  width: 100%;
}
.textarea::placeholder,
.input::placeholder {
  color: var(--color-bg-black);
}
.button {
  height: 55px;
  width: 200px;
  border-radius: 7px;
  margin: 0 10px 40px 10px;
  background-color: black;
  font-weight: 400;
  color: white;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(26, 25, 25);
}
.errors {
  position: absolute;
  top: 5px;
  right: 10px;
  width: auto;
  height: 24px;
  line-height: 30px;
  font-size: 14px;
  color: red;
  border-radius: 10px;
}
