.main h2{
    margin-top: 75px;
    margin-bottom: 60px;
    color: white;
    /* background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-family: 'Inter', sans-serif;
    font-size: 27px;
    font-weight: 300;
}

.gral{
    background-color: black;
    height: 350px;
    width: 650px;
    margin: 20px auto;
    box-shadow: 0 9px 16px rgba(56, 56, 56, 0.493);
    overflow-y: scroll;
}

.gral p{
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-weight:300;
    text-align: left;
}

.gral::-webkit-scrollbar{
    width: 12px;
    
    
}
    
.gral::-webkit-scrollbar-thumb{
    background-color: #686868;
}

.gral img{
     cursor: pointer;
     display: flex;
     justify-content: flex-start;
     /* flex-direction: row; */
     /* justify-content: flex-start; */
}

.info{
    display: flex;
    flex-direction: row;
}

.top{
    display: flex;
    background-color: rgb(27, 27, 27);
    height: 28px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    font-size: 14px;
    position: relative;
    /* position: static; */
}

.top p{
    color:white;
}

.top img{
    margin-right: 10px;
    position: absolute;
    margin: auto 0;
    bottom: 0;
    margin-bottom: 6px;
    /* align-self: center; */
}

.gitbash{
    margin-right: 14px;
}

.console_titles{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.title1 h3{
     color:rgb(8, 228, 8);
     font-family: 'Source Code Pro', monospace;
     font-weight:400;
     font-size: 16px;
     margin: 0px 10px;

}

.title2 h3{
     color:rgb(196, 4, 186);
     font-family: 'Source Code Pro', monospace;
     font-weight:400;
     font-size: 16px;
}

.title3 h3{
     color:rgb(204, 207, 9);
     font-family: 'Source Code Pro', monospace;
     font-weight:400;
     font-size: 16px;
     margin: 0px 10px;
}

.write{
    display: flex;
    flex-direction: row;
}

.animationBar{
    animation-name: barra;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes barra{
    0%{color:white}
    50%{color: black}
    100%{color: white}
}

.actionButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.actionButtons button{
    height: 55px;
    width: 110px;
    border-radius: 7px;
    margin: 0 10px;
    background-color: black;
    margin-bottom: 40px;
    font-family: 'Source Code Pro', monospace;
    font-weight:400;
    color: white;
    border: none;
    box-shadow: 0 8px 16px rgba(56, 56, 56, 0.493);
    cursor: pointer;
}
.actionButtons button:hover{
    background-color: rgb(15, 15, 15);
    
}
.actionButtons button:disabled{
    background-color: rgb(27, 27, 27);
}

.bar{
    display: flex;
    flex-direction: row;
    margin-left: -28px;
}

.intro{
    display: flex;
    flex-direction: row;
    margin-left: -28px;
}

.writemachine{
    position: relative;
    float: left;
    /* padding-left: 20px; */
    margin-left: -28px;
}

.writemachine1{
    position: relative;
    float: left;
    padding-left: 20px;
    margin-left: -28px;
}

.writemachine1 span{
    position: absolute;
    right: 0;
    width: 0;
    background-color: black;
    /* border-left: 1px solid white; */
    
    animation: machines 1s;
    
}

@keyframes machines{
    0%{width: 70%; border-left: 1px solid white}
    100%{width: 0%; border-left:none;}
}

.writemachine span{
    position: absolute;
    right: 0;
    width: 0;
    background-color: black;
    /* border-left: 1px solid white; */
    
    animation: machine 1s;
    
}

@keyframes machine{
    0%{width: 70%; border-left: 1px solid white}
    100%{width: 0%; border-left:none;}
}

@media screen and (max-width: 682px) {
    .gral{
        width: 600px;
        
    }
}

@media screen and (max-width: 604px) {
    .gral{
        width: 550px;
        
    }
}

@media screen and (max-width: 554px) {
    .gral{
        width: 500px;
        
    }
}

@media screen and (max-width: 502px) {
    .gral{
        width: 350px;
        height: 300px;
        /* margin-left: 27px; */
        margin-bottom: 20px;
    }
    
    
    .top p{
        font-size: 10px;
    }

    .intro p{
        width: 300px;
    }

    .main button{
        font-size: 12px;
    }

    .title2 h3{
        font-size: 0px;
   }
   
   .title3 h3{
        font-size: 0px;
   }
}

