* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(173, 173, 173);
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 35px 38px;
}
.rs {
  display: flex;
  flex-direction: row;
}
.rs select {
  cursor: pointer;
}
.rs_circle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content img {
  margin: auto 10px;
  cursor: pointer;
}
.select {
  height: 40px;
  width: 210px;
  background-color: black;
  color: white;
  border-radius: 4px;
  margin: auto 30px;
  border: none;
  border-color: rgb(173, 173, 173);
  box-shadow: 0 12px 16px rgba(48, 48, 48, 0.493);
  padding-left: 10px;
  padding-right: 40px;
  font-size: 13px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg height="20" width="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><polyline points="6,8 10,12 14,8" stroke="%23cccccc" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right 7px center;
  background-size: 20px 20px;
}
.select:hover {
  background-color: rgb(15, 15, 15);
}

@media screen and (max-width: 573px) {
  .select {
    width: 160px;
  }
}

@media screen and (max-width: 530px) {
  .select {
    width: 120px;
  }

  .imagelogo {
    height: 25px;
    width: 115px;
  }
}

@media screen and (max-width: 464px) {
  .select {
    height: 0px;
    width: 0px;
    color: black;
  }
}
