.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  background: #1c1c1c;
  border-radius: 10px;
  padding: 32px;
  min-width: 320px;
  min-height: 120px;
  position: relative;
  background-color: var(--color-bg-black);
}
.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}